@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  @apply bg-gray-100;
  line-height: 1.5; /*this will give space between the lines*/
}
